* {
   text-align: center;
}

body {
	background-color: lightgray
}

.buttons-container * {
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
  }

  .buttons-container{
      padding-bottom: 20px; 
  }
  
.timer{
    text-align: right;
    padding-bottom: 10px;
    color: red;
    font-weight: bold;
}

h2 {
    margin-bottom: 20px;
    padding-top: 10px;
}
button{
    cursor: pointer;
}

.game-box{
   /* width: 400px;
   height: 400px; */
   margin: auto;
}
